body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: $text-color;
    background-color: $first-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
}