.film_list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
        margin: -8px;
        justify-content: flex-start;
    }
}

.film_item {
    min-width: 280px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 50px;
    }

    @media screen and (min-width: 768px) {
        width: 360px;
        margin-bottom: 30px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 60px;
        }
    }

    @media screen and (min-width: 1280px) {
        width: 388px;
        margin: 8px;
    }
}

.film-link {

    cursor: pointer;
}

.film_image {
    min-height: 280px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.film_title {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.7;
    text-transform: uppercase;
    color: $text-color;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.film_desc {
    display: inline-block;
    font-weight: 500;
    line-height: 1.7;
    color: $accent-color;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.film_raiting {
    display: inline-block;
    width: 36px;
    height: 16px;
    font-weight: 500;
    text-align: center;
    color: $first-color;
    background: $accent-color;
    border-radius: 5px;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
        height: 25px;
    }
}