.container {
    @media screen and (max-width: 767px) {
        max-width: 480px;
    }

    padding: 0 20px 0;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 30px 0;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}