.container {
    @media screen and (max-width: 767px) {
        max-width: 480px;
    }

    padding: 20px 20px 120px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 60px 30px 160px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}