.regist-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;

    z-index: 0;
    visibility: hidden;

    background-image: url(../images/header/home/desk-bg@1x.webp);
    color: #fff;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));

    @media screen and (min-width: 768px) {
        width: 350px;
        height: 250px;
    }
}

.regist-form.active{
    z-index: 60;
    visibility: visible;
}
.regist-title {
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

.regist-label {
    display: block;
    margin-bottom: 4px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

.regist-input {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 260px;
    outline: none;
    border: 1px solid black;

    &:hover,
    &:focus {
        border: 1px solid #ff001b;
    }

    &:last-child {
        margin-bottom: 12px;
    }

    @media screen and (min-width: 768px) {
        width: 300px;
        min-height: 25px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 18px;
        }
    }
}

.regist-btn {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 25px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #ff001b;
        color: white;
        border: 1px solid #ff001b;
    }

    @media screen and (min-width: 768px) {
        width: 100px;
        height: 30px;
        font-size: 16px;
    }
}