.header {
    height: 230px;

    @media screen and (min-width: 768px) {
        height: 216px;
    }
}

.header__home {
    background-image: url(../images/header/home/desk-bg@1x.webp);
    background-size: cover;
    background-position-x: center;
    background-color: black;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/header/home/desk-bg@2x.webp);
    }

    @media screen and (max-width: 768px) {
        background-image: url(../images/header/home/tab-bg@1x.webp);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/header/home/tab-bg@2x.webp);
        }
    }

    @media screen and (max-width: 480px) {
        background-image: url(../images/header/home/mob-bg@1x.webp);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/header/home/mob-bg@2x.webp);
        }
    }
}

.header__library {
    background-image: url(../images/header/library/desk-bg@1x.webp);
    background-size: cover;
    background-color: black;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/header/library/desk-bg@2x.webp);
    }

    @media screen and (max-width: 768px) {
        background-image: url(../images/header/library/tab-bg@1x.webp);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/header/library/tab-bg@2x.webp);
        }
    }

    @media screen and (max-width: 480px) {
        background-image: url(../images/header/library/mob-bg@1.webp);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/header/library/mob-bg@2x.webp);
        }
    }
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.logo,
.home,
.library {
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #FF001B;
    }
}

.logo__icon {

    &:hover .logo__svg,
    &:focus .logo__svg {
        color: #FF001B;
        fill: #FF001B;
    }
}

.logo__svg {
    display: inline-block;
    margin-right: 10px;
    fill: #FF001B;
    color: #FF001B;
}

.nav__list {
    display: flex;
    margin-left: auto;
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $first-color;
}

.logo {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.home {
    margin-left: auto;
    margin-right: 40px;

    // &:hover, &:focus {
    //     color: #FF001B;
    // }
}

.library {
    margin-right: 0;
    // &:hover,
    //     &:focus {
    //         color: #FF001B;
    //     }
}

.nav__link {
    padding: 4px 0;
    position: relative;
}

.nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #FF001B;
}

.form {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid $first-color;
    margin-top: 56px;
    width: 90%;

    @media screen and (min-width: 320px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 40px;
        width: 336px;
    }

    @media screen and (min-width: 1200px) {
        width: 394px;
    }
}

.input {
    width: 100%;
    border: none;
    color: $first-color;
    background-color: inherit;
    padding: 4px;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $first-color;
}

.search__svg {
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    border: none;
    background: none;
    // cursor: pointer;

    // &:hover,
    //     &:focus {
    //         background-color: #ff001b;
    //         border-radius: 2px;
    //     }
}

.btn__watched {
    margin-right: 20px;

    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }
}

.header-regist {
    display: flex;
    justify-content: flex-end;

    &:hover,
    &:focus {
        color: #ff001b;
    }
}