<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="logo link" href="#">Filmoteka</a>
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link nav__link--current home link" href="#">HOME</a>
        </li>
        <li class="nav__item">
          <a class="nav__link library link" href="#">MY LIBRARY</a>
        </li>
      </ul>
    </div>

    <input class="input" type="text" placeholder="Movie search" />
  </div>
</header>
