<header class="header header__home">
  <div class="container">
    <div class="header__container">
      <a class="link" href="/src/index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-film"></use>
        </svg>
      </a>
      <a class="logo link" href="/src/index.html">Filmoteka</a>
      <ul class="nav__list list">
        <li class="nav__item">
          <a
            class="nav__link nav__link--current home link"
            href="/src/index.html"
            >HOME</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link library link" href="/src/library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </div>

    <form class="form" name="form">
      <input class="input" type="text" placeholder="Movie search" />
      <button type="submit" class="search__btn">
        <svg width="12" height="12">
          <use href="/src/images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
