<header class="header header__home">
  <div class="container">
    <div class="header__container">
      <a class="link logo__icon" href="/src/index.html">
        <svg class="logo__svg" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-film"></use>
        </svg>
      </a>
      <a class="logo link" href="/src/index.html">Filmoteka</a>
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link nav__link--current home link" href="/src/index.html">HOME</a>
        </li>
        <li class="nav__item">
          <a class="nav__link library link" href="/src/library.html">MY LIBRARY</a>
        </li>
      </ul>
    </div>
    <a href="#" class="header-regist link">Registration</a>
    <form class="form" onsubmit="return false;">
      <input class="input" type="text" placeholder="Movie search" id="search-box" />
      <!-- <button type="submit" class="search__btn"> -->
      <svg class="search__svg" width="12" height="12">
        <use href="/src/images/symbol-defs.svg#icon-search"></use>
      </svg>
      <!-- </button> -->
    </form>
  </div>
</header>