<header class="header header__library">
  <div class="container">
    <div class="header__container">
      <a class="link logo__icon" href="/src/index.html">
        <svg class="logo__svg" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-film"></use>
        </svg>
      </a>
      <a class="logo link" href="/src/index.html">Filmoteka</a>
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link home link" href="/src/index.html">HOME</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link nav__link--current library link"
            href="/src/library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </div>
        <div class="button__container-header">
  <button class="button__header" id="watched" type="submit">WATCHED</button>
  <button class="button__header" id="queue" type="submit">
    QUEUE
  </button>
      </div>
    </div>
  </div>
</header>
