<div id="template-registr">
<div class="window-backdrop">
    <div class='modal-registration'>
        <form class='regist-form' autocomplete="off">
            <h1 class='regist-title'>Please, fill in all fields</h1>
            <label>
                <span class="regist-label">Email</span>
                <input class='regist-input' type="email" name="email"></input>
            </label>
            <label>
                <span class="regist-label">Password</span>
                <input class='regist-input' type="text" name="password"></input>
            </label>
            <button type='submit' class='regist-btn'>Registration</button>
        </form>
    </div>
</div>
</div>