<div class="window-backdrop">
      <div class="window">
        <button type="button" class="window-btn">
            <svg class="window-svg window-svg--close">
                <use href="./images/symbol-defs.svg#close"></use>
            </svg>
        </button>
        <ul class="window-list">
            <li class="window-item">
                <!-- <img src="" alt="" class="window-img"> -->
                <h1 class="window-title">Evhenii Danchenko</h1>
                <p class="window-about">Teamlead <br>Full-stack developer</p>
                <a href="" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                 <a href="" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="window-item">
                <!-- <img src="" alt="" class="window-img"> -->
                <h1 class="window-title">Sergiy Kudryavtsev</h1>
                <p class="window-about">Scrum Master <br>Full-stack developer</p>
                <a href="https://github.com/SerhiiKudriavtsev" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                <a href="" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li> -->
            <li class="window-item">
                <img src="#" alt="" class="window-img">
                <h1 class="window-title">Ekateryna Bykova</h1>
                <p class="window-about">Full-stack developer</p>
                <a href="https://github.com/Bykova-Kateryna" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                <a href="@bykovakateryna" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="window-item">
                <img src="#" alt="" class="window-img">
                <h1 class="window-title">Dmytro Zayets</h1>
                <p class="window-about">Full-stack developer</p>
                <a href="https://github.com/demkona" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                <a href="" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="window-item">
                <img src="#" alt="" class="window-img">
                <h1 class="window-title">Evgeniy Grabar</h1>
                <p class="window-about">Full-stack developer</p>
                <a href="https://github.com/Evgeniy9009" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                <a href="" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="window-item">
                <img src="#" alt="" class="window-img">
                <h1 class="window-title">Halyna Vorokh</h1>
                <p class="window-about">Full-stack developer</p>
                <a href="https://github.com/gdutchak" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                  <a href="+380 95 381 67 63" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="window-item">
                <img src="#" alt="" class="window-img">
                <h1 class="window-title">Krystyna Varchuk</h1>
                <p class="window-about">Full-stack developer</p>
                <a href="https://github.com/Krystyna90" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                 <a href="+380 93 838 18 95" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="window-item">
                <!-- <img src="" alt="" class="window-img"> -->
                <h1 class="window-title">Sergiy Shvayka</h1>
                <p class="window-about">Full-stack developer</p>
                <a href="https://github.com/TryTooFly" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-git"></use>
                    </svg>
                </a>
                <a href="@gishp" class="window-link">
                    <svg class="window-svg">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a> 
            </li>
        </ul>
    </div>
</div> 